.home-container {
  margin: 3rem 35rem;
}

@media(max-width: 576px)  {
  .home-container {
    margin: 1.5rem;
  }
}


@media (min-width: 576.1px) and (max-width: 768px)  {
    .home-container {
      margin: 1.5rem;
  }
}

@media (min-width: 768.1px) and (max-width: 992px)  {
  .home-container {
    margin: 1.5rem 5rem;
  }
}

@media (min-width: 992.1px) and (max-width: 1366px)  {
  .home-container {
    margin: 1.5rem 10rem;
  }
}

@media (min-width: 1366.1px) and (max-width: 1800px)  {
  .home-container {
    margin: 1.5rem 20rem;
  }
}

