*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background: url(../assets/home/background-home-desktop.jpg) no-repeat center center/ cover;
  height: 100vh;
  color:#ffffff;
}

@media only screen and (max-width:480px) {
  body {
    background: url(../assets/home/background-home-mobile.jpg) no-repeat center center/ cover;
    // height: 100vh;
  }
}
@media only screen and (min-width:481.1px) and (max-width: 768px) {
  body {
    background: url(../assets/home/background-home-tablet.jpg) no-repeat center center/ cover;
    // height: 100vh;
  }
}
