@import "../../../../helpers/variables";

.destination-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 157px;

  .destination-img {
    width: 445px;
    height:445px;
   
    margin-left: 230px;
  }

  .destination-describtion{
    margin-left: 78.5px;
    margin-right: 163px;
    margin-top: 37px;
    h2{
      text-transform: uppercase;
      font-family: $font-big;
      font-weight: normal;
      font-size: 100px;
      line-height: 115px;
    }
    .destination-describtion-text{
      margin-left: 97px;
      margin-top: 50px;
      font-family: $font-small;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      line-height: 32px;
      color: $color-letter-blue;
      text-align: justify;
    }
    hr{
      height: 1px;
      color: #383B4B;
      margin-top: 18px;
    }
    .destination-describtion-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:79px;
      h5 {
        margin-top: 28px;
        text-transform: uppercase;
        font-family: $font-middle;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        color: $color-letter-blue;
      }
      .destination-parameters{
        text-transform: uppercase;
        font-family: $font-big;
        font-weight: normal;
        font-size: 28px;
        line-height: 32px;
        color: #ffffff;
        margin-top: 12px;
      }
    }
  }


}

 //tablet big
 @media only screen and  (max-width: 1024px) {
  .destination-card{
    grid-template-columns: 1fr;
    grid-gap: 119px;

    .destination-img{
      width: 372px;
      height:372px;
      margin: 0 auto;

    }
    .destination-describtion {
      margin:0;
      h2 {
        font-size: 80px;
        line-height: 92px;
        text-align: center;
      }
      .destination-describtion-text{
        margin: 8px 225px 49px 225px;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
      }
      hr{
        width: 573px;
      margin: 0 auto;
       opacity: 0.2;
      
      }
      .destination-describtion-grid{
        grid-gap: 11px;
        .grid-distance{
          margin-left: 162.5px;
        text-align: center;
        }
        .grid-travel-time{
          margin-right: 155.5px;
          text-align: center;
        }
      }
    }
  }
 }

// //tablet small
@media only screen and (max-width: 768px) {
  .destination-card{

    .destination-img{
      width: 300px;
      height:300px;

    }
    .destination-describtion {
//       margin:0;
//       h2 {
//         font-size: 80px;
//         line-height: 92px;
//         text-align: center;
//       }
      .destination-describtion-text{
        margin: 8px 98px 49px 97px;
//         text-align: center;
//         font-size: 16px;
//         line-height: 28px;
      }
//       hr{
//         width: 573px;
//        margin-left: 97px;
//        margin-right: 98px;
//        opacity: 0.2;
      
//       }
//       .destination-describtion-grid{
//         grid-gap: 11px;
//         .grid-distance{
//           margin-left: 162.5px;
//         text-align: center;
//         }
//         .grid-travel-time{
//           margin-right: 155.5px;
//           text-align: center;
//         }
//       }
    }
    }
}