.success-container {
  height: 100vh;
  /* border: 3px solid red;  */
  display: flex;
 
}

.success-text {
  /* border: 3px solid green; */
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 70px;
}


span {
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .success-text{
    margin-top: 100px;
  }
}